process {
    executor      = 'local'
    maxForks      = 5
    errorStrategy = 'terminate'
    maxRetries    = 0
    shell         = ['/bin/bash', '-euo', 'pipefail']
}
apptainer {
    enabled    = true
    autoMounts = true
    runOptions = '--bind /home/etud2026:/home/etud2026'
}
executor { name='local'; cpus=12; memory='55 GB'; queueSize=5 }
trace    { enabled=true; overwrite=true
           file="results/grch38_t8/vg_giraffe/trace_report.csv"
           fields='task_id,name,status,exit,realtime,cpus,%cpu,peak_rss,peak_vmem,rchar,wchar' }
timeline { enabled=true; overwrite=true
           file="results/grch38_t8/vg_giraffe/timeline_report.html" }
report   { enabled=true; overwrite=true
           file="results/grch38_t8/vg_giraffe/execution_report.html" }
